html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
body {
    overflow: clip;
}

.welcome {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 40px;

}

.welcome {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.fir {
    animation: fadeInRight 1.5s linear 0.5s 1 normal forwards;;
}

.fol {
    animation: fadeOutLeft 1.3s linear 0.5s 1 normal forwards;
}

.fou {
    animation: fadeOutUp 1.3s linear 0.5s 1 normal forwards;
}

.fib {
    animation: fadeInBottom 1.3s linear 0.1s 1 normal forwards;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to { opacity: 1 }
}

@keyframes fadeOutLeft {
    from { opacity: 1 }
    to {
        opacity: 0;
        transform: translateX(-200%);
    }
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(300px);
    }
    to {
      opacity: 1;
    }
}

@keyframes fadeOutUp {
    from { opacity: 1 }
    to {
        opacity: 0;
        transform: translateY(-200%);
    }
}

button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
       -moz-user-select: none;
        -ms-user-select: none;
}


.next {
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 50px;
    width: 100px;
    background-color: purple;
    color: white;
    border-radius: 15px;

    opacity: 0.8;
    position: fixed;
    bottom: 40px;
    right: 60px;
    transition: all 0.8s;
}

.next:hover{
    opacity: 1;
}


.opening {
    position: absolute;
    background: linear-gradient(-45deg, #4C0033, #790252, #B71375, #FC4F00, #F79540);
    background-size: 300% 300%;
}

.zer{
    z-index: 0;
}

.mino{
    z-index: -1;
}

.core {
    position: absolute;
}

.grad {
    animation: gradient 5s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: blur(10px);
}

.welcome {
    color: white;
}

.core {
    transition: all 0.3s;
    display: flex;
    gap: 50px;
}


.limiter {
    flex: 1;
}

.hasil {
    display: flex;
    align-items: center;
    justify-content: center;
}
.hasil-box {
    background-color: white;
    height: 90%;
    width: 90%;
}

.seat {
    border-radius: 10px;
    background-color: red;
    width: 3rem;
    height: 3rem;
}

.posisi {
    border-radius: 10px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hasil-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.result {
    display: flex;
    align-self: center;
    justify-content: center;
}